@mixin flex($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
  }
  
@mixin ms_container {
    width: 80%;
    height: 120px;
    margin: 0 auto;
}